<div id="createItem">
  <div class="header">
      <div>
        <a class="logo">CREATE ITEM</a>
      </div>
      <div class="header-right">
        <a class="active" [routerLink]="['/']">BACK TO HOME</a>
      </div>
  </div>
  <form (ngSubmit)="createPost()">
      <div class="createItemForm">
        <div class="form_item">
          <label for="title">Title </label>
          <br />
          <input id="title" [(ngModel)]="item.title" name="title" required>
        </div>
        <br>
        <div class="form_item">
          <label for="message">Message </label>
          <br />
          <textarea id="message" name="body" [(ngModel)]="item.body" required></textarea>
        </div>
        <br>
        <button class="pulse-button" type="submit">Create</button>
      </div>
  </form>
</div>