#Itemslist {
	table {
		padding: 1%;
	    margin: 0px auto;
	    border: 1px solid red;
	    tbody {
		    .main_table_head {
		    		border-bottom: 1px solid red;
		    		padding: 12px !important;
		    }
	    }
	}
	.table_block {
		margin: 10px auto;
	}
	table {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 60%;
	}

	td, th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}

	tr:nth-child(even){background-color: #f2f2f2;}

	tr:hover {background-color: #ddd;}

	th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #04AA6D;
	  color: white;
	}
	
	/* Button CSS */
	.table_block {
	 	button {
	 	  	background-color: dodgerblue;
    	  	color: white;
		  	text-align: center;
		  	border: none;
    	  	font-size: 15px;
		    padding: 7px;
		    border-radius: 4px;
		    margin-left: 10px;
	 	}
	 	button:hover {
	 		cursor: pointer;
	 	}
	}

	/* Style the active/current link*/
	.header a.active {
	  background-color: dodgerblue;
	  color: white;
	}

	/* Style the header with a grey background and some padding */
	.header {
	  overflow: hidden;
	  background-color: #f1f1f1;
	  padding: 20px 10px;
	}

	/* Style the header links */
	.header a {
	  float: left;
	  color: black;
	  text-align: center;
	  padding: 10px;
	  text-decoration: none;
	  font-size: 14px;
	  line-height: 25px;
	  border-radius: 4px;
	}

	/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
	.header a.logo {
	  font-size: 25px;
	  font-weight: bold;
	}

	/* Change the background color on mouse-over */
	.header a:hover {
	  background-color: #ddd;
	  color: black;
	}

	/* Float the link section to the right */
	.header-right {
	  float: right;
	}

	/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
	@media screen and (max-width: 500px) {
	   table {
	     width: 95%;
	   }
	   .logo {
	   	width: 50%;
	   }
	  .header a {
	    float: none;
	    display: block;
	    text-align: left;
	  }
	  .header-right {
	    float: none;
	    .active {
	    	float: right;
	    }
	  }
	}
}